.text {
    -fx-fill: white;
}

.label-number {
    -fx-font-family: "century schoolbook";
    -fx-font-weight: bold;
}

.label-screen {
    -fx-font-size: 49px;
}

/* TAB Head */
.tab-pane .tab-header-area .headers-region,
.tab-pane .tab-header-area .headers-region .tab,
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #3a347f;
}

.tab-pane .tab-header-area .headers-region .tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


.tab-pane .tab-header-area .headers-region .tab:hover .text {
    //-fx-background-color: brown;
    -fx-style: underline;
}

.tab-pane .tab-header-area .headers-region .tab:selected {
    -fx-background-color: #3a34ff;
    -fx-border-color: #3a34ff;
}

.tab-pane .tab-header-area .headers-region .tab:selected:hover {
     -fx-background-color: #3a34ff;
 }


.tab-pane .tab-header-area .headers-region .tab .text {
    -fx-fill: #ffffff;
}

/* TAB Body */
.tab-body,
.tab-pane:top .tab-content-area {
    -fx-background-color: #3a34ff;
}

.tab-body .jfx-slider,
.tab-body .jfx-combo-box,
.tab-body .jfx-check-box {
    -fx-cursor: hand;
}

.tab-body .jfx-button, .button {
    -fx-background-color: #0000ff;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

.tab-body .jfx-button:hover, .button:hover {
    -fx-background-color: brown;
}

.tab-body .jfx-button:disabled {
    -fx-background-color: gray;
}


////////////////////////////////////////////
// ********** Count down timer ********** //
////////////////////////////////////////////
.tab-body .label-timer {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: silver;
}

.label-ct {
    -fx-font-size: 15px;
}
// ====================================== //


////////////////////////////////////
// ******** Boxing Timer ******** //
////////////////////////////////////
.label-bt {
    -fx-font-size: 21px;
}

.label-rounds {
    -fx-font-size: 29px;
}

.button-round {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
}

.setting-pane-title {
    -fx-background-color: brown;
}

.setting-pane-title .label .text {
    -fx-fill: #000000;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.setting-pane-cell {
    -fx-background-color: #5a34ff;
}

.setting-pane-cell-even {
    -fx-background-color: #5a74d7;
}

.setting-pane-cell:hover {
    -fx-background-color: #005aff;
}

.color-picker {
    -fx-background-color: inherit;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: black;
}

.jfx-combo-box .text {
    -fx-font-family: "century schoolbook";
    -fx-fixed-cell-size: 24px;
}

.jfx-combo-box .list-cell {
    -fx-background-color: #5a34ff;
}

.jfx-combo-box .list-cell:selected {
    -fx-background-color: brown;
}

.jfx-combo-box .list-cell:hover {
    -fx-background-color: brown;
}
// ============================================= //